<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div class="container text-center">
<h1>Simple Password Generator</h1>
This site was made in autumn of 2022 by Ivan Sukhov
<br>
Written in Django

    <br><a href="{% url 'home' %}">Back</a></div>
</body>
</html>