<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
</head>
<body>
<div class="container text-center">
<h1>Your password is:</h1>
<h2 id="toCopy" class="alert alert-success">{{ password }}</h2>

<script type="text/javascript" >
function Copy(containerid) {
      let textarea = document.createElement('textarea');
      textarea.id = 'temp';
      textarea.style.height = 0;
      document.body.appendChild(textarea);
      textarea.value = document.getElementById(containerid).innerText;
      let selector = document.querySelector('#temp');
      selector.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
}
</script>

<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
<button class="btn btn-success" onclick="Copy('toCopy')" title="Copy">Copy</button>
<a onClick="window.location.reload()" class="btn btn-warning">Refresh</a>
</div>
</body>
</html>